

# node modules yo
node_modules/

# some of the settings yo!
prisma.yml
*.prisma

# env stuffs
.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
